

h1{
    background-color: yellow;
   color: whitesmoke;
   font-weight: bold;
   font-size: 2rem;
   font-family: cursive;
   text-align: center;
   margin-top: 300px;
   margin-left: 500px;
   width: 400px;
   height: 50px;
}
button{
    background-color: blue;
   color: whitesmoke;
   font-weight: bold;
   font-family: cursive;
   text-align: center;
   width: 400px;
   height: 50px;
   margin-left: 500px;
}
input{
    olor: whitesmoke;
   font-weight: bold;
   font-family: cursive;
   text-align: center;
   width: 400px;
   height: 50px;
   margin-left: 500px;
}