body{
background-color: aquamarine;
}
h1{
    font-size: 2.5rem;
    color: white;
    background-color: wheat;
    height: 80px;
    width: 200px;
}

.container{
    margin: 300px 500px;
    border: none;
}
input{
    background-color: aliceblue;
    color: blue;
    height: 30px;
    width: 200px;
    padding: 20px;
    font-weight: bold;
}
button{
    height: 50px;
    background-color: white;
    width: 200px;
    font-weight: bold;
    padding: 20px;
    font-size: 1.5rem;
}
