body{
    background-color:#CBA35C ;
}
.container{
    margin-left: 400px;
     background-color: whitesmoke;
     background: url("https://img.freepik.com/free-vector/vector-polka-background-with-small-dots_1017-13972.jpg");
    border-radius: 10px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    height: 400px;
    width: 200px;
}
.Heading{
    background-color: #CBA35C;
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    margin-left: 5px;
}
input{
  border-bottom: dotted;
  border-top: none;
  border-left: none;
  border-right: none;
 
  font-family: cursive;
 visibility: inherit;
}
input:active{
    border-bottom: dotted;
  border-top: none;
  border-left: none; 
  border-right: none;
}
button{
    background-color: white;
    color: black;
    border-radius: 5px;
}